<table class="table">
    <thead>
      <tr>
        <th class="table-header" *ngFor="let item of objectKeys(data[0])">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: currentPage } let i = index; ">
        <td *ngFor="let i of objectKeys(item)" class="data" [ngClass]="{'likes-replies' : (i==='Likes' || i==='Replies')}" scope="row">{{item[i] || '-'}}</td>
      </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

