.selected {
    color: blue;
    background: #F8F8FA;
}
.tabs {
    display: flex; 
    width: 130px; 
    height: 30px; 
    text-align: center; 
    margin-left: 50px
}
.heading {
    padding-left: 50px;
    padding-top: 20px; 
    padding-bottom: 20px
}
.tabs-header {
    display: flex; 
    flex-direction: row
}

.search-heading {
    text-align: center; 
    margin: auto;
    cursor: pointer;
}