<div style="height: 100vh;">
  <h3 class="heading">Angular Twitter</h3>
  <div class="tabs-header">
    <div [ngClass]="{'selected' : isHashtagSelected}" class="tabs" (click)="hashtagSearchSelected()">
      <span class="search-heading">Hashtag search</span>
    </div>
    <div [ngClass]="{'selected' : isUserSelected}" class="tabs" (click)="userSearchSelected()">
      <span class="search-heading">User search</span>
    </div>
  </div>
  <router-outlet></router-outlet>
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = "rgb(51, 51, 51, 0.7)"
    size = "medium"
    color = "#fff"
    type = "ball-beat"
    fullScreen = "false">
  </ngx-spinner>
</div>